h1{
    text-align: center;
    font-weight: normal;   
    text-decoration: red dotted underline;
    letter-spacing: 20px; 
    
}
h2,h3{
    color: red;
}
.paragraph::selection{
    background-color: lightcoral;
}

a {
    text-decoration: none;
    color: tomato;
}
a:hover{
    color: blue;    
}
p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.beginning{
    background-color: rgb(255, 255, 255);
 
}
.mid{
    background-color: whitesmoke;
}

body{
    background-color: rgb(139, 212, 205);
}
button{
    background-color: cyan;
   
}

#login{
    background-color: darkcyan;
    color: burlywood;
}

#signup {
    background-color: plum;
    color: yellow;
}
.tag{
    color: teal;
    font-size: 10px;
}
span{
    background-color: yellowgreen;
}
.link{
    background-color: wheat;
}
li a{
    background-color: white;
}
li a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: red underline;
}
li a:active{
    background-color: pink;
    color: blue;
    text-decoration: yellow underline;
}
hr + h2{
    background-color: blue;
}
input[type="password"]{
    color: red;
}

#pword{
    color: red;
}

.post:nth-of-type(2n){
    background-color: rgb(234, 179, 245);
}

h2::first-letter{
    font-size: larger;
}
.paragraph::first-line{
    color:orange;
    background-color: lightpink;
}

.post button:hover{
    background-color: red;
    color: white;
    font-size: 30px;
}
button:hover{
    background-color: olive;
    font-size: 15px;
}
/*specificity: id > class > elements/psudo selectors*/